$primary-color: #d479cb;
$primary-dark-color: #506266;
$secondary-color: #b5b5b5;
$light-gray: #d9d9d9;
$white: #ece5dd;
$stark-white: rgb(255, 255, 255);
$black: #262626;
$light-black: #404040;
$midnight-black: #000;

$glass: rgba(255, 255, 255, 0.55);
$sharp-glass: rgba(255, 255, 255, 0.75);

$red: rgb(140, 8, 8);
$green: green;
